In [19]:
import pandas as pd
import numpy as np
import re
import functions
import pymysql
import sqlalchemy as alch
from dotenv import load_dotenv
import os
import warnings
warnings.filterwarnings("ignore")
import pycountry_convert as pc
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor

from sklearn.ensemble import GradientBoostingRegressor

from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn import metrics

#-----------------------------------------------------------------------------------------------------------

# Loading Dataframes.

df = pd.read_csv("Data\wind-share-energy.csv")
df1 = pd.read_csv("Data\wind-generation.csv")
df2 = pd.read_csv("Data\Test IRENE.csv")
df3 = pd.read_csv("Data\solar-share-energy.csv")
df4 = pd.read_csv("Data\solar-energy-consumption-by-region.csv")
df5= pd.read_csv("Data\solar-energy-consumption.csv")
df6 = pd.read_csv("Data\share-electricity-wind.csv")
df7= pd.read_csv("Data\share-electricity-solar.csv")
df8 = pd.read_csv("Data\share-electricity-renewables.csv")
df9 = pd.read_csv("Data/share-electricity-hydro.csv")
df10 = pd.read_csv("Data/renewable-share-energy.csv")
df11 = pd.read_csv("Data\per-capita-renewables.csv")
df12 = pd.read_csv("Data\modern-renewable-prod.csv")
df13 = pd.read_csv("Data\modern-renewable-energy-consumption.csv")
df15 = pd.read_csv("Data\hydro-share-energy.csv")
df16 = pd.read_csv("Data\hydropower-consumption.csv")
df17 = pd.read_csv("Data/biofuel-production.csv")
df18 = pd.read_csv("Data/annual-percentage-change-solar.csv")
df19 = pd.read_csv("Data/annual-percentage-change-renewables.csv")
df20 = pd.read_csv("Data/annual-change-solar.csv")
df21 = pd.read_csv("Data/annual-change-renewables.csv")
dfGDP = pd.read_csv("Data/GDPpercapita.csv")
#-----------------------------------------------------------------------------------------------------------
# Creating a list of Dataframes to drop a specific column.

df_list=[df,df6,df7,df8,df9,df10,df11,df12,df13,df15,df17]
df_list=functions.drop_code(df_list)
#-----------------------------------------------------------------------------------------------------------
# Merging Dataframes.

df_main=functions.specific_merge(df3,df_list)


list_growth=[df19,df20,df21]
df_growth_list=functions.drop_code(list_growth)
df_growth=functions.specific_merge(df18,list_growth)
#-----------------------------------------------------------------------------------------------------------
# Cleaning.

df_main=functions.change_main_values(df_main)

df_growth['Entity']=df_growth['Entity'].str.strip()



df_growth=functions.change_growth_values(df_growth)

wrl_renew = df_main.loc[df_main['Entity'] == 'World']
wrl_renew =wrl_renew.reindex(['Entity', 'Code','Year','Renewables (% sub energy)',
'Electricity from other renewables including bioenergy (TWh)'],axis=1)

wrl_renew = wrl_renew.rename(columns={'Entity':'ENTITY','Code':'ISO','Renewables (% sub energy)':'RENEWABLE ENERGY %',
'Electricity from other renewables including bioenergy (TWh)':'RENEWABLE ENERGY TWh','Year':'YEAR'})
#-----------------------------------------------------------------------------------------------------------
# Filtering to keep the last 30 years of the Dataframes.

df_main.drop(df_main[(df_main['Year'] <1990)].index,axis=0,inplace=True)

df_growth.drop(df_growth[(df_growth['Year'] <1990)].index,axis=0,inplace=True)
#-----------------------------------------------------------------------------------------------------------
# Renaming and reindexing.

df_main = df_main.rename(columns={"Entity": "COUNTRY", "Code": "ISO","Year": "YEAR"
,"Solar (% sub energy)": "SOLAR ENERGY %","Wind (% sub energy)": "WIND ENERGY %",
"Wind (% electricity)": "WIND ELECTRICITY %","Solar (% electricity)": "SOLAR ELECTRICITY %",
"Renewables (% electricity)": "RENEWABLE ENERGY %.","Hydro (% electricity)": "HYDRO ELECTRICITY %",
"Renewables (% sub energy)": "RENEWABLE ENERGY %","Renewables per capita (kWh - equivalent)": "RENEWABLE PER CAPITA (KWh)",
"Electricity from wind (TWh)": "WIND ENERGY (TWh)","Electricity from hydro (TWh)": "HYDRO ENERGY (TWh)",
"Electricity from solar (TWh)": "SOLAR ENERGY (TWh)","Wind Generation - TWh": "WIND GENERATION (TWh)",
"Solar Generation - TWh": "SOLAR GENERATION (TWh)","Electricity from other renewables including bioenergy (TWh)": "OTHERS RENEWABLE ENERGIES (TWh)"
,"Hydro Generation - TWh": "HYDRO GENERATION (TWh)","Hydro (% sub energy)": "HYDRO ENERGY %"})
df_main.drop(['SOLAR GENERATION (TWh)','WIND GENERATION (TWh)','HYDRO GENERATION (TWh)','WIND ELECTRICITY %',
 "SOLAR ELECTRICITY %","HYDRO ELECTRICITY %","RENEWABLE ENERGY %."],axis=1,inplace=True)
df_growth = df_growth.rename(columns={"Entity": "ENTITY", "Code": "ISO","Year": "YEAR","Solar (% growth)": "SOLAR GROWTH %",
"Renewables (% growth)": "RENEWABLE GROWTH %","Solar (TWh growth - equivalent)": "SOLAR GROWTH TWh","Renewables (TWh growth - equivalent)": "RENEWABLE GROWTH TWh"})
df_growth = df_growth.reindex(['ENTITY','ISO','YEAR','SOLAR GROWTH %','SOLAR GROWTH TWh','RENEWABLE GROWTH TWh',
'RENEWABLE GROWTH %'], axis=1)

wrl = df_main.loc[df_main['COUNTRY'] == 'World']
wrl=wrl.reset_index(drop=True)
#-----------------------------------------------------------------------------------------------------------
# Assigning Continents by countries.


cou_list=['Africa', 'Asia Pacific', 'Eastern Africa','CIS', 'European Union (27)','Europe',
 'Middle Africa', 'Middle East' ,'Non-OECD', 'OECD', 'Western Africa','World']
for i in cou_list:
    df_main.drop(df_main[(df_main['COUNTRY'] == i)].index,axis=0,inplace=True)

df_main['CONTINENT']=df_main.apply(functions.convert,axis=1)
continents = {
    'NA': 'North America',
    'SA': 'South America', 
    'AS': 'Asia',
    'OC': 'Australia',
    'AF': 'Africa',
    'EU': 'Europe'
}
df_main['CONTINENT']=df_main['CONTINENT'].map(continents)
df_main['CONTINENT']=df_main.CONTINENT.str.upper()
df_main = df_main.reindex(['COUNTRY','ISO','CONTINENT','YEAR',"SOLAR ENERGY (TWh)",
'SOLAR ENERGY %',"WIND ENERGY (TWh)",'WIND ENERGY %',"HYDRO ENERGY (TWh)",'HYDRO ENERGY %',
'RENEWABLE ENERGY %','RENEWABLE PER CAPITA (KWh)','OTHERS RENEWABLE ENERGIES (TWh)'], axis=1)
#-----------------------------------------------------------------------------------------------------------
#Adding GDP per countries.


dfGDP=dfGDP[['COUNTRY','GDP PER CAPITA(2020)']]
df_main=functions.merge(df_main,dfGDP,'COUNTRY')
wrl.drop([
        'RENEWABLE PER CAPITA (KWh)', 'WIND ENERGY (TWh)',
       'HYDRO ENERGY (TWh)', 'SOLAR ENERGY (TWh)',
       'OTHERS RENEWABLE ENERGIES (TWh)', 'Geo Biomass Other - TWh',
       'Biofuels Production - TWh - Total'],axis=1,inplace=True)
#-----------------------------------------------------------------------------------------------------------
# Cleaning a new Dataframe.

df_growth['ENTITY']=df_growth['ENTITY'].str.strip()
df_growth['ENTITY'] = df_growth['ENTITY'].str.replace('\(BP\)','')
def convert(row):
    cn_code= pc.country_name_to_country_alpha2(row.ENTITY,cn_name_format='default')
    conti_code=pc.country_alpha2_to_continent_code(cn_code)
    return conti_code

df_growth = df_growth.reindex(['ENTITY', 'ISO', 'YEAR', 
       'RENEWABLE GROWTH TWh', 'RENEWABLE GROWTH %'],axis=1)

df_growth = df_growth.rename(columns={"ENTITY": "COUNTRY"})
df_growth['COUNTRY']=df_growth['COUNTRY'].str.strip()
cou_list_g=['Africa','OECD ','Non-OECD ','Other Asia Pacific','Other Africa', 'Other Caribbean', 'Other Europe',
       'Other Middle East', 'Other Northern Africa',
       'Other South America', 'Other South and Central America','Eastern Africa ','Western Africa',
       'Other Southern Africa','Western Africa','Other Asia Pacific ','Other Northern Africa ',
       'Western Africa (BP)','Africa ','South and Central America', 'Upper-middle-income countries',
       'South America','Northern Africa','Central America','CIS','CIS ','Caribbean','Other CIS',
       'Oceania','North America','Lower-middle-income countries','High-income countries', 'Asia',
       'Asia Pacific','Asia Pacific ', 'Eastern Africa', 'European Union (27)','Europe', 'Middle Africa', 
       'Middle East' ,'Non-OECD', 'OECD', 'Western Africa','World']
for i in cou_list_g:
    df_growth.drop(df_growth[(df_growth['COUNTRY'] == i)].index,axis=0,inplace=True)
df_growth['CONTINENT']=df_growth.apply(functions.convert,axis=1)
continents = {
    'NA': 'North America',
    'SA': 'South America', 
    'AS': 'Asia',
    'OC': 'Australia',
    'AF': 'Africa',
    'EU': 'Europe'
}
df_growth['CONTINENT']=df_growth['CONTINENT'].map(continents)
df_growth['CONTINENT']=df_growth.CONTINENT.str.upper()
#-----------------------------------------------------------------------------------------------------------
#Saving Dataframes.

df_growth.to_csv('growth.csv', index = False, encoding='utf-8')
df_main.to_csv('main.csv', index = False, encoding='utf-8')
wrl_renew.to_csv('wrl_renew.csv', index = False, encoding='utf-8')

wrl= pd.read_csv("wrl_renew.csv")
main= pd.read_csv("main.csv")
growth= pd.read_csv("growth.csv")

#-----------------------------------------------------------------------------------------------------------
# Predictions.

wrl_test=wrl[['YEAR','RENEWABLE ENERGY %']]
models = {
    "lr": LinearRegression(),    
    "knn": KNeighborsRegressor(),
    "grad": GradientBoostingRegressor(),
    "svr": SVR(),
    
}

wrl_test=wrl_test.drop(wrl_test[(wrl_test['YEAR'] <2010)].index,axis=0)
y = wrl_test["RENEWABLE ENERGY %"]
X=wrl_test.drop(['RENEWABLE ENERGY %'],axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

for name, model in models.items():
        model.fit(X_train, y_train)

for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f"------{name}------")
    print('RMSE - ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
    print('R2 - ', metrics.r2_score(y_test, y_pred))

lr=LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

lr.predict(X_test)
print(f"------lr------")
print('MAE - ', metrics.mean_absolute_error(y_test, y_pred))
print('MSE - ', metrics.mean_squared_error(y_test, y_pred))
print('RMSE - ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R2 - ', metrics.r2_score(y_test, y_pred))



list_=[x for x in range(2021,2121)] 
X_f = pd.DataFrame(list_)

X_f.columns=['YEAR']
y_f = lr.predict(X_f)
#-----------------------------------------------------------------------------------------------------------
# Calculating how much we need to growth to be sutainable in the same time predicted.

X_f['RENEWABLE ENERGY %']=y_f
X_f['RENEWABLE ENERGY %']=X_f['RENEWABLE ENERGY %'].apply(lambda x: x*1.1)
X_f['NECESSARY RENEWABLE ENERGY %']=X_f['RENEWABLE ENERGY %'].apply(lambda x: x*1.61)


df_pred=pd.concat([wrl_test, X_f], axis=0)

------lr------
RMSE -  0.4758500104254359
R2 -  0.7123260777672622
------knn------
RMSE -  1.7564800283521589
R2 -  -2.9196452309426735
------grad------
RMSE -  0.865176416773401
R2 -  0.049023743173270184
------svr------
RMSE -  1.4159253773042229
R2 -  -1.547071049135973
------lr------
MAE -  0.2842812500000136
MSE -  0.22643323242188745
RMSE -  0.4758500104254359
R2 -  0.7123260777672622

In [20]:
main.sample(20)

,COUNTRY,ISO,CONTINENT,YEAR,SOLAR ENERGY (TWh),SOLAR ENERGY %,WIND ENERGY (TWh),WIND ENERGY %,HYDRO ENERGY (TWh),HYDRO ENERGY %,RENEWABLE ENERGY %,RENEWABLE PER CAPITA (KWh),OTHERS RENEWABLE ENERGIES (TWh),GDP PER CAPITA(2020)
1323,Mexico,MEX,NORTH AMERICA,2011,0.040,0.005,1.650,0.201,35.930,4.418,5.569,1.086601,13.620,8431.67
462,Croatia,HRV,EUROPE,2018,0.070,0.193,1.340,3.449,7.700,19.890,25.263,6.313996,0.670,14132.49
1728,Romania,ROU,EUROPE,2013,0.420,0.297,4.520,3.192,14.960,10.446,14.113,2.711323,0.250,12956.57
1769,Saudi Arabia,SAU,ASIA,1992,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000000,0.000,20203.67
1422,New Zealand,NZL,AUSTRALIA,2017,0.080,0.077,2.090,2.067,24.930,24.714,35.347,20.459135,8.040,41596.51
1897,South Africa,ZAF,AFRICA,1996,0.000,0.000,0.000,0.000,1.319,0.322,0.336,0.096868,0.060,5655.87
552,Denmark,DNK,EUROPE,2015,0.600,0.787,14.130,18.415,0.020,0.023,24.699,9.342229,4.180,61063.32
1304,Mexico,MEX,NORTH AMERICA,1992,0.003,0.001,0.001,0.000,26.814,5.559,6.879,1.120424,6.366,8431.67
602,Egypt,EGY,AFRICA,2003,0.000,0.000,0.370,0.121,12.890,5.471,5.592,0.526693,0.000,NaN
1846,Slovakia,SVK,EUROPE,2007,0.000,0.000,0.010,0.011,4.450,5.681,6.316,2.548220,0.470,NaN
1546,Pakistan,PAK,ASIA,2017,0.890,0.351,2.100,0.471,27.650,8.066,9.175,0.438298,1.400,1359.51
1057,Italy,ITA,EUROPE,1993,0.010,0.002,0.000,0.001,41.420,6.195,6.763,2.330738,3.790,31834.97
1558,Peru,PER,SOUTH AMERICA,1998,0.000,0.000,0.000,0.001,13.808,27.866,28.121,1.607085,0.126,6117.49
1785,Saudi Arabia,SAU,ASIA,2008,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000066,0.000,20203.67
988,Iraq,IRQ,ASIA,2017,0.060,0.027,0.000,0.000,2.150,1.027,1.054,0.158276,0.000,4583.75
974,Iraq,IRQ,ASIA,2003,0.000,0.000,0.000,0.000,0.430,4.396,4.396,0.537842,0.000,4583.75
1035,Israel,ISR,ASIA,2002,0.000,0.000,0.010,0.013,0.020,0.024,0.037,0.015140,0.000,44177.57
1858,Slovakia,SVK,EUROPE,2019,0.590,0.801,0.010,0.008,4.360,5.926,9.038,3.381904,1.690,NaN
1172,Kuwait,KWT,ASIA,2015,0.000,0.003,0.010,0.000,0.000,0.000,0.003,0.003570,0.000,24811.77
2014,Sri Lanka,LKA,ASIA,2020,0.110,1.088,0.350,1.740,4.900,13.531,16.611,0.769916,0.250,3694.04

In [21]:
growth

      COUNTRY  ISO  YEAR  RENEWABLE GROWTH TWh  RENEWABLE GROWTH % CONTINENT
0     Algeria  DZA  2011              0.587329          117.528130    AFRICA
1     Algeria  DZA  2012              0.047131            4.949093    AFRICA
2     Algeria  DZA  2013             -0.792122          -69.306488    AFRICA
3     Algeria  DZA  2014              0.340347           99.059547    AFRICA
4     Algeria  DZA  2015             -0.090270          -12.598425    AFRICA
...       ...  ...   ...                   ...                 ...       ...
1341  Vietnam  VNM  2017             61.776352           36.610329      ASIA
1342  Vietnam  VNM  2018             -8.819168           -3.210419      ASIA
1343  Vietnam  VNM  2019            -33.951462          -14.746642      ASIA
1344  Vietnam  VNM  2020             32.914307           17.620659      ASIA
1345  Vietnam  VNM  2021             48.333008           21.976936      ASIA

[1346 rows x 6 columns]

In [24]:
wrl

   ENTITY  ISO  YEAR  RENEWABLE ENERGY %  RENEWABLE ENERGY TWh
0   World  WRL  1965               6.064                17.985
1   World  WRL  1966               6.138                19.806
2   World  WRL  1967               6.046                19.987
3   World  WRL  1968               6.010                22.120
4   World  WRL  1969               5.964                23.258
5   World  WRL  1970               5.878                25.693
6   World  WRL  1971               5.905                27.879
7   World  WRL  1972               5.869                29.877
8   World  WRL  1973               5.632                32.085
9   World  WRL  1974               6.146                33.959
10  World  WRL  1975               6.191                34.484
11  World  WRL  1976               5.869                38.461
12  World  WRL  1977               5.855                40.563
13  World  WRL  1978               6.089                42.967
14  World  WRL  1979               6.183                46.169
15  World  WRL  1980               6.375                49.385
16  World  WRL  1981               6.551                53.155
17  World  WRL  1982               6.733                61.371
18  World  WRL  1983               6.925                68.018
19  World  WRL  1984               6.855                76.009
20  World  WRL  1985               6.813                77.792
21  World  WRL  1986               6.775                85.579
22  World  WRL  1987               6.650                91.643
23  World  WRL  1988               6.611                94.281
24  World  WRL  1989               6.490               104.348
25  World  WRL  1990               6.770               117.003
26  World  WRL  1991               6.890               122.019
27  World  WRL  1992               6.869               130.972
28  World  WRL  1993               7.216               135.306
29  World  WRL  1994               7.195               140.426
30  World  WRL  1995               7.421               146.362
31  World  WRL  1996               7.317               150.566
32  World  WRL  1997               7.407               161.287
33  World  WRL  1998               7.453               168.762
34  World  WRL  1999               7.409               177.393
35  World  WRL  2000               7.392               216.980
36  World  WRL  2001               7.133               210.890
37  World  WRL  2002               7.146               225.230
38  World  WRL  2003               6.917               238.930
39  World  WRL  2004               7.091               256.840
40  World  WRL  2005               7.144               280.740
41  World  WRL  2006               7.274               297.060
42  World  WRL  2007               7.306               321.120
43  World  WRL  2008               7.778               336.830
44  World  WRL  2009               8.067               364.060
45  World  WRL  2010               8.287               408.990
46  World  WRL  2011               8.451               430.050
47  World  WRL  2012               8.854               459.530
48  World  WRL  2013               9.238               496.040
49  World  WRL  2014               9.586               535.870
50  World  WRL  2015               9.823               568.050
51  World  WRL  2016              10.239               581.320
52  World  WRL  2017              10.618               608.880
53  World  WRL  2018              10.978               654.580
54  World  WRL  2019              11.437               688.920
55  World  WRL  2020              12.553               712.900